.app{
  width: 700px;
  margin: 0 auto;
}

.display{
  background: grey;
  max-height: 100px;
  line-height: 100px;
  color: #fff;
  font-weight: bold;
  font-size: 2em;
  text-align: right;
  padding: 2em;
}

.calc-btn{
  height: 100px;
  font-weight: bold;
  border: 0.0015em solid grey;
}

.button-panel{
  display: flex;
  flex-direction: column;
}
/* Text */
.cl-light-grey {
  background-color: #d3d3d3;
}

.cl-orange {
  background-color: orange;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%
}
