.app{
  width: 700px;
  margin: 0 auto;
}

.display{
  background: grey;
  height: 100px;
  color: #fff;
  font-weight: bold;
  text-align: right;
  padding: 2em;
}

.calc-btn{
  width: 25%;
  height: 100px;
  font-weight: bold;
  border: 0.0015em solid grey;
  background-color: orange;
}

.button-panel{
  display: flex;
  flex-direction: column;
}

.group5 button:first-of-type{
  width: 50%;
}
